/* --- ESTILOS DAS ABAS --- */
#tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    z-index: 10;
    position: relative; /* Garante que fique clicável acima do SVG */
}

.tab-btn {
    background-color: #161616;
    color: #EA7413;
    border: 2px solid #EA7413;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    font-family: Inter, Arial;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-btn:hover {
    background-color: #EA7413;
    color: #ffffff;
}

.tab-btn.active {
    background-color: #EA7413;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(234, 116, 19, 0.5);
}
